.activeFilter{
    opacity: 1;
}

.notActiveFilter{
    opacity: 0.5;
}

.rarityFilter{
    font-size:50px !important;
    cursor:pointer;
    border: 1px solid transparent;
}

.rarityFilter:hover {
    border-bottom: solid 1px
}